<div>
    <nav
        class="flex h-14 items-center justify-between bg-indigo-500 px-2 py-5 text-xl text-white"
    >
        <span>Welcome, user!</span>
        <ul class="flex items-start justify-center gap-2">
            <a href="/catalog"><li class="rounded-md p-1 hover:bg-slate-400">Catalog</li></a>
            <a href="/create"><li class="rounded-md p-1 hover:bg-slate-400">Create</li></a>
            <a href="/about"><li class="rounded-md p-1 hover:bg-slate-400">About</li></a>
        </ul>
        <ul class="flex items-start justify-center gap-2">
            <a href="/auth/login"><li class="rounded-md p-1 hover:bg-slate-400">Login</li></a>
            <a href="/auth/register"><li class="rounded-md p-1 hover:bg-slate-400">Register</li></a>
            <a href="/auth/logout"><li class="rounded-md p-1 hover:bg-slate-400">Logout</li></a>
        </ul>
    </nav>
</div>
